body {
    background: linear-gradient(180deg, rgba(66,148,136,1) 0%, rgba(66,148,136,1) 15%, rgba(219,219,212,1) 15%);
    height: 100vh;
    overflow: hidden;
}

.app-container {
    background-color: white;
    margin-top: 24px;
}

i {
    cursor: pointer;
}

main {
    height: 700px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;

}

aside {
    background-color: #eaeaea;

}

.my-profile, .interlocutor-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}

.avatar-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 12px;
}

.pic-and-name {
    display: flex;
}

.top-bar-icons {
    display: flex;
    justify-content: space-between;
    width: 80px;
    color: #b5b5b5;
    font-size: 20px;
    margin-right: 24px;
}

/* ASIDE */
.profile {
    display: flex;
    align-items: center;
}

.notification-bar {
    background-color: #9fd8f8;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.notification-bar .avatar-description {
    cursor: pointer;
}

.notification-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: #9fd8f8;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}

.search-section {
    display: flex;
    padding: 12px 0;
}

.search-section input {
    border: none;
    width: 100%;
    height: 36px;
    padding: 0 12px;
}

.search-icon {
    background-color: white;
    color: #b7b9bb;
    padding: 0 4px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list {
    background-color: white;
    overflow-y: scroll;
    height: 460px;
}

.contact-row {
    padding: 6px 0;
    border-bottom: 1px solid rgba(245,245,245,255);
}

/* END ASIDE */

/* MAIN */
.interlocutor-description {
    font-size: 12px;
    color: gray;
}

.chat-space {
    background-image: url(../img/chat-background.jpg);
    flex-grow: 1;
}

.write-message-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #f2eeea;
    position: sticky;
    bottom: 0;
}

.write-message-section input {
    width: 750px;
    border: none;
    height: 48px;
    padding: 0 24px;
}

.emoji, .vocal {
    padding: 0 4px;
    font-size: 24px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c7376;
}
/* END MAIN */