body {
    background: linear-gradient(180deg, rgba(66,148,136,1) 0%, rgba(66,148,136,1) 15%, rgba(219,219,212,1) 15%);
    height: 100vh;
}

.app-container {
    background-color: white;
    margin-top: 24px;
}

main {
    border: 1px solid black;
    height: 700px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
}

aside {
    border: 1px solid black;
    height: 700px;
    background-color: #eaeaea;
}

.my-profile, .interlocutor-profile {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    border: 1px solid black;
}

.avatar-picture {
    width: 50px;
    border-radius: 50%;
}


/* ASIDE */
.notification-bar {
    background-color: #9fd8f8;
    height: 100px;
    width: 100%;
}

.search-section {
    display: flex;
    padding: 12px 0;
}

.search-section input {
    border: none;
    width: 100%;
}

.search-icon {
    background-color: white;
    color: #b7b9bb;
    padding: 0 4px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list {
    background-color: white;
    height: 468px;
}

.contact-row {
    padding: 6px 0;
    border-bottom: 1px solid rgba(245,245,245,255);
}

.contact-row img {
    margin: 0 12px;
}
/* END ASIDE */

/* MAIN */
.chat-space {
    background-image: url(../img/chat-background.jpg);
    height: 100%;
}

.write-message-section {
    flex-direction: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    border: 1px solid black;
    background-color: #f2eeea;
}

.write-message-section input {
    width: 750px;
    border: none;
}

.emoji, .vocal {
    padding: 0 4px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c7376;
}
/* END MAIN */